@model ThesisProcessor.Models.Thesis

@{
    ViewData["Title"] = "Thesis Processor Submission Page";
}

<h2>Thesis Processor Submission Page</h2>

@if (Model != null)
{
    <table id="thesistable">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Author
                </th>
                <th width="55%">
                    Abstract
                </th>
                <th>
                    References
                </th>
                <th>
                    Supervisor
                </th>
                <th>
                    Date Created
                </th>
                <th>
                    Approval Status
                </th>
                @if (Model.RejectReason != null)
                {
                    <th>
                        Rejection Reason
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Abstract)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.References)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Supervisor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.DateCreated)
                </td>
                <td>
                    @if (Model.Approved)
                    {
                        <p>Approved</p>
                    }
                    else if (!Model.Approved && (Model.RejectReason != null))
                    {
                        <p>Rejected</p>

                    }
                    else
                    {
                        <p>Pending Approval</p>
                    }
                </td>
                <td>
                    @if (!Model.Approved && (Model.RejectReason != null))
                    {
                        @Html.DisplayFor(modelItem => Model.RejectReason)
                    }
                </td>
            </tr>
        </tbody>
    </table>

    <p>
        <a asp-action='Delete' asp-route-id="@Model.Id">Delete Thesis</a>.
    </p>
}
else
{
    <p>
        You have not submitted your dissertation yet. Do so <a asp-action='Submit'>here</a>.
    </p>
}

@*@section Scripts {
        <script>
            $('#thesis_table').DataTable();
        </script>
    }*@