@model IEnumerable<ThesisProcessor.Models.Thesis>
@{
    ViewData["Title"] = "Thesis Processor Admin Panel";
}

<h2>Thesis Processor Admin Panel</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Abstract)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.References)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supervisor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Abstract)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.References)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supervisor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                   @if (!item.Approved && (item.RejectReason != null))
                    {
                        <p>Rejected</p>
                   }
                   else if (item.Approved){
                        <p>Approved</p>
                   }
                   else
                   {
                        <div>
                            <a asp-action='Download' asp-route-id='@item.Id'>Download</a> |
                            <a asp-action='Approve' asp-route-id='@item.Id' onclick="return confirm('Approve thesis @item.Title?')">Approve</a> |
                            <a asp-action='Reject' asp-route-id='@item.Id'>Reject</a>
                        </div>

                    }
                </td>
            </tr>
        }
    </tbody>
</table>